
@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        