
@font-face {
    font-family:"Happy Times at the IKOB";
    src:url("happy-times-at-the-ikob.woff2") format("woff2"),url("happy-times-at-the-ikob.woff") format("woff"),url("happy-times-at-the-ikob.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        