
@font-face {
    font-family:"Pinyon Script";
    src:url("PinyonScript-Regular.woff2") format("woff2"),url("PinyonScript-Regular.woff") format("woff"),url("PinyonScript-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        