
@font-face {
    font-family:"Iglesia Light";
    src:url("Iglesia.woff2") format("woff2"),url("Iglesia.woff") format("woff"),url("Iglesia.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        