@font-face {
    font-family:"Iglesia";
    src:url("Iglesia.woff2") format("woff2"),url("Iglesia.woff") format("woff"),url("Iglesia.otf") format("opentype");
    font-style:normal;font-weight:400;
}



@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
   

        
body {
	margin: 4vw;



}

.box {
	border: 20px;
	border-color: red;
	border: solid 10px red;
	border-radius: 15px;
	transform: skewY(-2deg);

}

#seafood {
	color: red;
	font-size: 13vw;
	text-align: center;
	font-family: "Iglesia";
	transform: skewY(-2deg);
	text-shadow: 1vw 1vw 1vw pink;
}

#limited {
	color: red;
	font-family: "Alte Haas Grotesk";
	font-weight: bold;
	text-align: left;
	font-size: 5vw;
	transform: skewY(-2deg);
	position: absolute;
	right: 10vw;
	bottom: 1px;

}