
@font-face {
    font-family:"Favorit Trial Pro Medium";
    src:url("FavoritTrialPro-Medium.woff2") format("woff2"),url("FavoritTrialPro-Medium.woff") format("woff"),url("FavoritTrialPro-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        