@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
    font-family:"TimesNow-ExtraLight";
    src:url("JHA - TimesNow-ExtraLight.woff2") format("woff2"),url("JHA - TimesNow-ExtraLight.woff") format("woff"),url("JHA - TimesNow-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
    font-family:"MillionaireTrial Script";
    src:url("MillionaireTrial-Script.woff2") format("woff2"),url("MillionaireTrial-Script.woff") format("woff"),url("MillionaireTrial-Script.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
body { 
margin-top: 0vw;
background-color: inherit;
}


h1 {

  font-family:"MillionaireTrial Script";
  text-align: center;
  font-weight: 100;
  font-size: 11vw;
  line-height: 15vw;
  position: fixed;
  margin-top: 0vw;
  padding-left: 3vw;
  letter-spacing: .1vw;
  z-index: -5;
  color: black;

}

h2{
  font-family:"TimesNow-ExtraLight";
  font-weight: 400;
  color: white;
  text-align: inherit;
  font-size: 5vw;
  color: white;
  -webkit-text-stroke-width: .9px;
  -webkit-text-stroke-color: black;

}


h2:hover {
  color: pink;
}


img { 
width: 20vw; }



.studio, .lab {  
  

  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}




#wrapper.text {
visibility:hidden;
position:absolute;
display: inline-block;
font-size: 2vw;
line-height: 2vw;
padding-bottom: 1vw;

 }


#wrapper {position:relative;
display: inline-block;
}

#wrapper:hover.text {
visibility:visible;
font-family: times;
position:absolute;
display: inline-block;
padding-left: -2vw;
padding-bottom: 2vw;
z-index: 2;
top: 10vw;
align-content: center;

}

#class {
padding: 3vw;
color: blue;
font-family:"Alte Haas Grotesk";
}


.students, #prof, #about { display: inline-block;
font-family: "TimesNow-ExtraLight";
font-size: 3.5vw; }









a {text-decoration: none;
   color: blue;
   font-size: 2vw;
}

a:hover {color: black;
		text-decoration: underline; 
}

ul {margin-top: -5vw;}



#clock{
	color: green;
	font-size: 1.5vw;
	position: fixed;
	text-align: right; 
	background-color: white;
	font-family: times;
	font-weight: 100;
	z-index: -1;
	border-style: solid;
	padding: 1vw;
	margin-left: 86vw;
	border-width: 1px;
	z-index: 1;

}

li {
	list-style-type: none;
	list-style-position: outside;
		
}





@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} }


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }


