@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
    font-family:"TimesNow-ExtraLight";
    src:url("JHA - TimesNow-ExtraLight.woff2") format("woff2"),url("JHA - TimesNow-ExtraLight.woff") format("woff"),url("JHA - TimesNow-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
    font-family:"MillionaireTrial Script";
    src:url("MillionaireTrial-Script.woff2") format("woff2"),url("MillionaireTrial-Script.woff") format("woff"),url("MillionaireTrial-Script.otf") format("opentype");
    font-style:normal;font-weight:400;
}

body {
  margin: 2vw;
  width: 95vw;
  cursor: crosshair;


}

#pink {
position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  font-family:"Alte Haas Grotesk";
  font-weight: 400;
  font-size: 1.5vw;
  width: auto;
  padding: 2px 10px 2px 10px;
  color: black;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  cursor: pointer;
  right: 5vw;
  bottom: 3vw;
  position: fixed;

}


#pink:hover {
  box-shadow: inset 0px 0px 15px pink;
}

.dark-mode {
  background-color: pink;
  color: white;

   }

#pink + .hide 
{ display: block;
  color: red;

}

span:hover {
   background-color: white;
  color: black;
  border-width: 1px;
  box-shadow: inset 0 0 3px black;
}


/* SUBHEADINGS: STUDIO, LAB, CLASS, INSTRUCTORS, ABOUT */

h2 {

font-family:"Alte Haas Grotesk";
font-weight: 300;
-webkit-text-stroke: 1.25px black;
color: #339C5F;
text-align: left;
margin-left: 3vw;
font-size: 5vw;
z-index: -1;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 3s; /* Firefox < 16 */
          -ms-animation: fadein 3s; /* Internet Explorer */
           -o-animation: fadein 3s; /* Opera < 12.1 */
              animation: fadein 3s;

}

ul {
  top: -40vw;
}

ul#class li {
   display:inline;
   margin: 1vw;
   justify-content: center;
   white-space: nowrap;

}



li a { 

  display: inline-block;
  line-height: 6vw;
  display: inline;
  font-family:"TimesNow-ExtraLight";
  font-size: 3vw;
  top: -4vw;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  color: black;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
 }


li a:hover {
  padding: 2px 10px 2px 10px;
  background-color: white;
  color: black;
  border-width: 1px;
  box-shadow: inset 0 0 3px black;

}


/* PROF SECTION */
ul#prof li {
  display:inline;
  padding: .5vw;
  }

a span {
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  font-family:"Alte Haas Grotesk";
  font-weight: 400;
  font-size: 1.5vw;
  width: auto;
  padding: 2px 10px 2px 10px;
  color: black;
  border-radius: 4vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}



/* image hover, clock, background text, about, & keyframes fade: */

img {  
margin: 2vw
position: absolute;
display: inline;
width: 18vw;
padding: 1vw;
align-content: center;
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}



#clock{
  position: fixed;
  font-family:"Alte Haas Grotesk";
  border-color: black;
  box-shadow: inset 0 0 1px black;
  border-style: solid;
  background-color: white;
  color: black;
  font-size: 1.5vw;
  text-align: right; 
  font-weight: 400;
  width: auto;
  border-radius: 2vw;
  height: 1.8vw;
  padding: 1vw;
  left: 85vw;
  border-width: 1px;
  z-index: 1;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}



h1 {
font-family:"MillionaireTrial Script";
font-weight: 400;
color: black;
font-size: 11.5vw;
text-align: center;
vertical-align: middle;
line-height: 13vw;
top: -1vw;
position: fixed;
z-index: -1;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 3s; /* Firefox < 16 */
          -ms-animation: fadein 3s; /* Internet Explorer */
           -o-animation: fadein 3s; /* Opera < 12.1 */
              animation: fadein 3s;
}

#about {
  margin: 3vw;
  color: black;
  display: inline-block;
  line-height: 6vw;
  display: inline;
  font-family:"TimesNow-ExtraLight";
  font-size: 1.5vw;
  text-decoration: none;
  border-radius: 4vw;


}



/*#contain {
  top: 0px;
  box-shadow: inset 1px 35px 30px 0px white;
  z-index: 1;
  height: 100vw;
  width: 100vw;
  position: fixed;
  margin: 0 auto;

}*/

/* to display all image classes in line: */

.pic {
  display: inline-block;
  align-content: center;
  margin: 5.5vw;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} }


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

