
@font-face {
    font-family:"MillionaireTrial Script";
    src:url("MillionaireTrial-Script.woff2") format("woff2"),url("MillionaireTrial-Script.woff") format("woff"),url("MillionaireTrial-Script.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        