

@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
body {
	background-color: red;
	font-family:"Alte Haas Grotesk";


}




img:hover{
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 5px black) 
          drop-shadow(-1px -1px 5px black);



       }






#wrapper .text {
visibility:hidden;
position:absolute;
display: inline-block;
font-size: 1vw;
line-height: 1.2w;
padding-bottom: 2vw;

 }


#wrapper {
position:relative;
display: inline;
width: 2vw;
}

#wrapper:hover .text {
visibility:visible;
font-family:"Alte Haas Grotesk";
position:absolute;
display: inline-block;
padding-left: -2vw;
padding-bottom: 2vw;
z-index: 2;
top: 10px;



}


.studio, .lab {
	font-size: 3vw;
	line-height: 3vw;
	width: 40vw;
	padding-bottom: 5px;
	display: flex;
	font-family: Times New Roman;

}


.students, .prof {
	font-size: 3vw;
	line-height: 3vw;
	font-family: "Alte Haas Grotesk";
}

a:hover {

	text-decoration: underline;
	color: black;


}

p {

	font-weight: bold;
	font-family: itc-avant-garde-gothic-pro;
	font-weight: 300;
	font-style: normal;
	font-weight: normal;
	line-height: 1vw;


}

h1 {
font-family: 
font-weight: 300;
font-style: normal;
	text-align: inherit;
	font-size: 5vw;
	position: fixed;
	margin-top: 0vw;
	background-color: white;

}








#clock{
  color: black;
  margin: 0px;
  font-size: 1.5vw;
  padding: 0px;
  position: fixed;
  background-color: white;

}
