
@font-face {
    font-family:"UniversLTStd";
    src:url("UniversLTStd.woff2") format("woff2"),url("UniversLTStd.woff") format("woff"),url("UniversLTStd.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
body {margin: 5vw;
	  background: inherit;
}


#marquee {
	color:red;
	font-size: 10vw;
	font-weight: bold;
	font-family: "UniversLTStd";
	text-align: left;
	color:red;
	padding-bottom: 2vw;
	transform-style: preserve-3d;
  	transform: rotateX(60deg) rotateY(5deg);
  	margin: none;
  	text-shadow: 2px 2px black;

}

.box {
	border-style: dashed;
	border-color: black;
	color: black;
	height: 30vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4vw;
}

.box:hover {
	font-weight: bold;


}



.replies {
	text-transform: uppercase;
}

button {
	width: 85vw;
	font-family: "UniversLTStd";
	font-size: 10vw;
}


button .comment { 
	display: none; 
}

button:hover .replies { 
	display: none;



}

button:hover .comment {
 	display: inline; 
 	font-weight: normal;
 	font-size: 3vw;

 }
.box:hover {
	box-shadow: 10px 10px black;

}