body {margin: 4vw; 
	  margin-top: -4vw;
	}



.results {
	font-size: 9vw;
	font-family: Helvetica Neue;
	line-height: 9vw;
}

.results:hover {text-shadow: 1vw 1vw 1vw;
	 	transition: all 1.5s ease-in;
  		transform: rotate(-15deg);
}


