
@font-face {
    font-family:"Alte Haas Grotesk";
    src:url("AlteHaasGroteskRegular.woff2") format("woff2"),url("AlteHaasGroteskRegular.woff") format("woff"),url("AlteHaasGroteskRegular.otf") format("opentype");
    font-style:normal;font-weight:400;

     font-family:"Iglesia";
    src:url("Iglesia.woff2") format("woff2"),url("Iglesia.woff") format("woff"),url("Iglesia.otf") format("opentype");
    font-style:normal;font-weight:400;

}
        


body {
  padding: 2% 5%;
  line-height: 1.4;
  background-color: blue;

}

.example h1 {
  font-family: "Alte Haas Grotesk";
  font-weight: normal;
  font-size: 50px;
  text-decoration: underline;
  color: white;

}

.intro {
  font-size: 30px;
  font-family: "Alte Haas Grotesk";
  color: white;
 
}

p {
  font-size: 30px;
  font-family: "Alte Haas Grotesk";
  font-weight: ;
  font-style: ;
  color: white;
  direction: ;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: justify-all;
  text-decoration: none;
  text-indent: inherit;
  text-shadow: inherit;
  text-transform: inherit;
  text-overflow: inherit;
  word-spacing: inherit;s
}




@media screen and (max-width: 768px) {
  
  body {
    background-color: white;
  }

  .intro {
    font-size: 8vw;
    color: blue;

    }

  .example h1 {
    font-size: 10vw;
    color: blue;
  }

  p {
    font-size: 8vw;
    color: blue;
  }
}



