@font-face {
    font-family:"Happy Times at the IKOB";
    src:url("happy-times-at-the-ikob.woff2") format("woff2"),url("happy-times-at-the-ikob.woff") format("woff"),url("happy-times-at-the-ikob.otf") format("opentype");
    font-style:normal;font-weight:400;
}



.times {
	font-family: "Happy Times at the IKOB";
    position: absolute;
    list-style-type: none;
    animation: slider linear infinite;
    font-size: 7.5vw;
    line-height: 9vw;  
	padding-left: 4vw;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: white;
	clip-path: rect(10px, 20px, 30px, 40px);
	outline:100vw solid white;




}


}




p:hover {
	color: black;



}
  	




* { padding: 0; margin: 0; box-sizing: border-box; }
body { overflow: visible; height: 100%; }



.times li { line-height: 50px; width: 100vw;
			 } 

@keyframes slider {
    0%   { transform: translateY(100vh) }
    100% { transform: translateY(-100%) }
}


.box {
	width: 93vw;
	margin-top: 20vw;
	margin-left: 3vw;
	border-style: solid;
	border-width: .2vw;
	position: fixed; 
	height: 9vw;
	clip: rect(93vw, 9vw);

	z-index: 100;
	box-shadow: 2px 1px 5px;

}







/*.box2 {
	width: 30vw;
	height: 7vw;
	border-width: .1vw;
	border-radius: 3vw 3vw 3vw 3vw;
	position: fixed;
	border-style: dashed;
	margin-bottom: -98vw;
	z-index: 
}

*/


