@font-face {
    font-family:"Happy Times at the IKOB";
    src:url("happy-times-at-the-ikob.woff2") format("woff2"),url("happy-times-at-the-ikob.woff") format("woff"),url("happy-times-at-the-ikob.otf") format("opentype");
    font-style:normal;font-weight:400;
}

body {
	background-color: white;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20vw;
	display: inline-block;

	
}



.container2 {
	width: 20vw;
	background-color: #E9E9E9;
	height: 13vw;
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	border-width: 2px;
	box-shadow: 5px 10px 10px #888888;
	display: inline-block;



}


.container3 {
	width: 20vw;
	background-color: #E9E9E9;
	height: 13vw;
	border-style: solid;
	border-color: black;
	margin-right: 40vw;
	border-width: 2px;
	display: inline-block;
	box-shadow: 5px 10px 10px #888888;

}
	
.container4 {
	width: 20vw;
	background-color: #E9E9E9;
	height: 13vw;
	border-style: solid;
	border-color: black;
	margin-left: 40vw;
	border-width: 2px;
	box-shadow: 5px 10px 10px #888888;
	position: absolute;
}

}


.container { 
	/*clip-path:inset(1% 1% 1% 1%);
	clip-path-position: fixed;	*/
	width: 30vw;
	height: 13vw;
	margin: 0 auto;
/*	overflow: hidden; */
	display: inline-block;
	}







.times {
	font-family: "Happy Times at the IKOB";
    position: absolute;
    list-style-type: none;
    animation: slider linear infinite;
    font-size: 7.5vw;
    line-height: 2vw;  

	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: white;
}


.times li { line-height: 50px; width: 100vw;
			 } 

@keyframes slider {
    0%   { transform: translateY(100vh) }
    100% { transform: translateY(-100%) }
}

