
@font-face {
    font-family:"Essays 1743 Bold Italic";
    src:url("Essays-1743-Bold-Italic.woff2") format("woff2"),url("Essays-1743-Bold-Italic.woff") format("woff"),url("Essays-1743-Bold-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        