
@font-face {
    font-family:"UniversLTStd";
    src:url("UniversLTStd.woff2") format("woff2"),url("UniversLTStd.woff") format("woff"),url("UniversLTStd.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        